<h1 mat-dialog-title>
  {{
    editingUser
      ? "Editando a " + editingUser.name + " " + editingUser.surname
      : "Creando usuario"
  }}
</h1>
<div mat-dialog-content>Dialog</div>

<form [formGroup]="userForm" class="flex flex-col w-1/4 my-4 gap-2">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" type="text" formControlName="name" required>
    <mat-error *ngIf="userForm.get('name')?.hasError('required')">El nombre es requerido.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput placeholder="Apellido" type="text" formControlName="surname" required>
    <mat-error *ngIf="userForm.get('name')?.hasError('required')">El apellido es requerido.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo electrónico</mat-label>
    <input matInput placeholder="Nombre completo" type="email" formControlName="email" required>
    <mat-error *ngIf="userForm.get('email')?.hasError('required')">El correo es requerido.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
    <mat-error *ngIf="userForm.get('password')?.hasError('required')">La contraseña es requerida.</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" class="w-fit">Cargar alumno</button>
</form>
